.star-rating {
    display: inline-block;
  }

  .star-rating input[type="radio"] {
    display: none;
  }

  .star-rating label {
    float: right;
    cursor: default;
    color: #ccc;
  }

  .star-rating label:before {
    content: "\2605";
    font-size: 24px;
  }

  .star-rating label.half:before {
    content: "\2605";
    position: absolute;
    display: inline-block;
    width: 0.6em; /* Adjust the width to control the fill amount */
    overflow: hidden;
  }

  .star-rating input[type="radio"]:checked ~ label,
  .star-rating input[type="radio"]:checked ~ label.half {
    color: #ffca08;
  }

  .star-rating input[type="radio"]:hover ~ label,
  .star-rating input[type="radio"]:hover ~ label.half {
    cursor: default;
    color: #ccc;
  }

  .star-rating .filled:before {
    color: #ffca08;
  }

  .percentage-box {
    position: relative;
    width: 120px;
    height: 20px;
    border: 1px solid #ccc;
  }

  .fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #ffca08;
  }

  .percentage-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

